<div id="header">

      <div id="logo">
      </div>
      <div id="supports">

      </div>

</div>
<h2 class="help" style="margin-top:10px;">Phần quản lý cho MC</h2>
      <div id="playground-list-wrapper">
        <div class="q-wrapper">
          <a href="/admin/new"><div class="playground sign-up-btn">Đăng ký làm MC</div></a>
        </div>
      </div>
      <div id="playground-list-wrapper">
        <div class="q-wrapper">
          <a href="/admin/login"><div class="playground sign-in-btn">Đăng nhập</div></a>
        </div>

      </div>
