<div id="header">

      <div id="logo">
      </div>
      <div id="supports">
        <img id="logout-btn" src="/images/icon-logout.png" style="margin-left:13px" height="52" width="52" />

      </div>

</div>
<div class="q-wrapper">
          <div class="admin-login-input">
<form method="POST" action="/room/create">
 <input type="text" name="name" class="admin-login ground-name" placeholder="Tên phòng chơi"/>
          </div>
          <div class="q-wrapper">
  <div class="player-regis-input">
        <input  type="submit" class="" />
        </div>
        </div>
</form>
</div>
