<div id="header">

      <div id="logo">
      </div>
      <div id="supports">

      </div>

</div>
<h2 class="help" style="margin-top:10px;">Đăng ký và đăng nhập cho người tham gia</h2>
      <div id="playground-list-wrapper">
        <div class="q-wrapper">
          <a href="/player/new"><div class="playground sign-up-btn">Đăng ký</div></a>
        </div>
      </div>
      <div id="playground-list-wrapper">
        <div class="q-wrapper">
          <a href="/player/login"><div class="playground sign-in-btn">Đăng nhập</div></a>
        </div>

      </div>
